# Compiled files
*.class
*.jar
*.war

# Build folders
bin/
out/
build/

# IDE files
.idea/
*.iml
.vscode/
*.eclipse

# OS files
.DS_Store
Thumbs.db
/.metadata/
CMPS251-CourseProject.zip_expanded/oop_project/report/~$PS251_Project_Report.docx
